---
// import { NUM_SUPPORTED_SP_PAGES } from "../db/constants";
import Alert from "./Alert.astro";
import { MaterialSymbolsArrowCoolDownRounded } from "./ClientIcons/Icons";
// import PageSelect from "./PageSelect";
// import { ALL_PAGES } from "../db/constants";
import PageSearch from "./PageSearch";

interface Props {
    start: string | null;
    end: string | null;
    classNames: string | null;
    wiki_name: string | undefined;
}

const { start, end, classNames, wiki_name } = Astro.props;
---

<div class={classNames}>
    {
        wiki_name === undefined && (
            <Alert type="warning" className="transition-all">
                Please choose a wiki first
            </Alert>
        )
    }
    <form
        action=""
        method="GET"
        class="flex gap-2 flex-col sm:flex-row mb-0 items-center">
        <div class="flex w-full sm:w-auto flex-col sm:flex-row items-center flex-grow gap-2">
            <PageSearch
                client:load
                wiki_name={wiki_name}
                default_value={start}
                placeholder="Page to start from"
                name="start"
                classNameWrapper="flex-grow w-full sm:w-auto"
            />

            <span class="hidden sm:block -rotate-90 mx-1 w-8 h-8">
                <MaterialSymbolsArrowCoolDownRounded
                    aria-label="dotted arrow pointing right"
                />
            </span>

            <PageSearch
                client:load
                wiki_name={wiki_name}
                default_value={end}
                placeholder="Target page"
                name="end"
                classNameWrapper="flex-grow w-full sm:w-auto"
            />
        </div>

        <div class="flex items-center w-full sm:w-auto">
            <button
                type="submit"
                disabled={wiki_name === undefined}
                class="enabled:mx-0.5 border-colorful text-accent-color bg-white dark-layer-1 px-4 py-3 enabled:py-2.5 disabled:before:hidden disabled:border
                enabled:hover:bg-gray-50 enabled:hover:after:block after:hidden group w-full sm:w-auto disabled:cursor-not-allowed">
                <p
                    class="group-enabled:group-hover:text-gradient-border-colorful dark:text-blue-500">
                    Search
                </p>
            </button>
        </div>
    </form>
</div>

<!-- TODO: longest path, how many were not reached, verteilung an entfernungen -->
