---
import clsx from "clsx";
import {
    get_trend_from_all_number,
    get_trend_link,
    NUM_LINKED_REDIRECTS_STAT,
    NUM_LINKS_LOADED_STAT,
    NUM_PAGES_LOADED_STAT,
    NUM_REDIRECTS_LOADED_STAT,
    TOP_TEN_MOST_LINKED_STAT,
    TOP_TEN_MOST_LINKS_STAT,
} from "../db/constants";

import { getCollection } from "astro:content";
import { big_num_format, cn } from "../utils";
import CardTabs from "./CardTabs.astro";
import Stat from "./Stat";
import TrendPill from "./TrendPill";

interface Props {
    wiki_name?: string;
    dump_date: string;
    simple?: boolean;
}

const { wiki_name, dump_date, simple } = Astro.props;

let most_link_pages = await TOP_TEN_MOST_LINKS_STAT.get(dump_date, wiki_name);

let most_linked_pages = await TOP_TEN_MOST_LINKED_STAT.get(
    dump_date,
    wiki_name,
);

let most_linked_page = most_linked_pages?.at(0);
let most_link_page = most_link_pages?.at(0);

const num_pages_all = await NUM_PAGES_LOADED_STAT.get_all_until(
    dump_date,
    wiki_name,
);
// console.log("num_pages_all", num_pages_all, dump_date, wiki_name);

const [num_pages, num_pages_trend] = get_trend_from_all_number(num_pages_all);

const num_redirects_all = await NUM_REDIRECTS_LOADED_STAT.get_all_until(
    dump_date,
    wiki_name,
);
const [num_redirects, num_redirects_trend] =
    get_trend_from_all_number(num_redirects_all);
const redirects_percentage = ((num_redirects / num_pages) * 100).toFixed(2);

const num_links_all = await NUM_LINKS_LOADED_STAT.get_all_until(
    dump_date,
    wiki_name,
);
const [num_links, num_links_trend] = get_trend_from_all_number(num_links_all);

const num_linked_redirects_all = await NUM_LINKED_REDIRECTS_STAT.get_all_until(
    dump_date,
    wiki_name,
);
const [num_linked_redirects, num_linked_redirects_trend] =
    get_trend_from_all_number(num_linked_redirects_all);
const linked_redirects_percentage = (
    (num_linked_redirects / num_links) *
    100
).toFixed(2);

const num_dump_dates = (await getCollection("stats")).map((c) => c.id);
---

<div
    class={cn(
        "grid grid-cols-1 gap-1 sm:gap-2 md:gap-3 my-1 sm:my-2 md:my-3",
        "min-[550px]:grid-cols-2",
        simple && "min-[550px]:grid-cols-3",
    )}>
    <CardTabs tabs={["All Articles", "Redirects"]} className="w-full relative">
        <div
            slot="tab1"
            class="flex flex-wrap items-center gap-x-1 justify-center">
            <p class="font-bold">{big_num_format(num_pages)}</p>
            {
                num_pages_trend && !simple && (
                    <div class="absolute top-0 right-0">
                        <TrendPill
                            trend={num_pages_trend}
                            relative={true}
                            link={get_trend_link(wiki_name, "number-of-pages")}
                        />
                    </div>
                )
            }
        </div>

        <div slot="tab2">
            <p class="font-bold flex items-center justify-center gap-2">
                {`${big_num_format(num_redirects)}`}
                <span class="font-normal text-sm">
                    ({redirects_percentage}%)
                </span>
            </p>

            {
                num_redirects_trend && !simple && (
                    <div class="absolute top-0 right-0">
                        <TrendPill
                            trend={num_redirects_trend}
                            relative={true}
                            link={get_trend_link(
                                wiki_name,
                                "number-of-redirects",
                            )}
                        />
                    </div>
                )
            }
        </div>
    </CardTabs>

    <CardTabs
        tabs={["All Links", "Linked Redirects"]}
        className="w-full relative">
        <div
            slot="tab1"
            class="flex flex-wrap items-center gap-x-1 justify-center">
            <p class="font-bold">{big_num_format(num_links)}</p>
            {
                num_links_trend && !simple && (
                    <div class="absolute top-0 right-0">
                        <TrendPill
                            trend={num_links_trend}
                            relative={true}
                            link={get_trend_link(wiki_name, "number-of-links")}
                        />
                    </div>
                )
            }
        </div>

        <div slot="tab2">
            <p class="font-bold flex items-center justify-center gap-2">
                {`${big_num_format(num_linked_redirects)}`}
                <span class="font-normal text-sm">
                    ({linked_redirects_percentage}%)
                </span>
            </p>

            {
                num_linked_redirects_trend && !simple && (
                    <div class="absolute top-0 right-0">
                        <TrendPill
                            trend={num_linked_redirects_trend}
                            relative={true}
                            link={get_trend_link(
                                wiki_name,
                                "number-of-linked-redirects",
                            )}
                        />
                    </div>
                )
            }
        </div>
    </CardTabs>

    {
        simple && (
            <Stat
                client:load
                title="Number of data points"
                value={`${big_num_format(num_dump_dates.length)}`}
                className="w-full"
            />
        )
    }
</div>

<div class="grid grid-cols-2 lg:grid-cols-6 gap-1 sm:gap-2 md:gap-3">
    {
        most_linked_page && (
            <Stat
                client:load
                title="Most linked"
                value={`(${big_num_format(most_linked_page.count)})`}
                wiki_link={{ ...most_linked_page }}
                className="w-full col-span-2 lg:col-span-3"
            />
        )
    }

    {
        most_link_page && (
            <Stat
                title="Most links"
                value={`(${big_num_format(most_link_page.count)})`}
                wiki_link={{ ...most_link_page }}
                className={clsx("w-full col-span-2 lg:col-span-3")}
                client:load
            />
        )
    }

    <slot />
</div>
