---
import { twMerge } from "tailwind-merge";
import Alert from "../components/Alert.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

import { getImage } from "astro:assets";
import favicon from "../../public/favicon-dark.svg";
import { InfoIcon } from "../components/ClientIcons/Icons";
import DBUpdating from "../components/DBUpdating";
import { get_latest_date } from "../db/constants";
import "../styles/borders.scss";
import "../styles/dual-range-slider.css";
import "../styles/global.css";
import { formatDumpDate } from "../utils";

interface Props {
    title: string;
    desc?: string;
    bodyClass?: string;
    mainClass?: string;
}

const { title, desc, bodyClass, mainClass } = Astro.props;
const latest_dump = await get_latest_date();
const latest_dump_date = latest_dump
    ? formatDumpDate(latest_dump) + " (UTC)"
    : "N/A";

const appleTouchIcon = await getImage({
    src: favicon,
    width: 180,
    height: 180,
    format: "png",
});
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="description"
            content={desc ?? "Statistics about Wikipedia"}
        />
        <meta name="viewport" content="width=device-width" />

        <link rel="icon" type="image/svg+xml" href="/favicon-dark.svg" />
        <link rel="apple-touch-icon" href={appleTouchIcon.src} />

        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <slot name="head" />
        <script is:inline>
            if (
                localStorage.getItem("theme") === "dark" ||
                (!("theme" in localStorage) &&
                    window.matchMedia("(prefers-color-scheme: dark)").matches)
            ) {
                document.documentElement.classList.add("dark");
            } else {
                document.documentElement.classList.remove("dark");
            }
        </script>
        <link
            href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css"
            rel="stylesheet"
        />
    </head>
    <body class={twMerge("dark:bg-dark_00 min-h-screen relative", bodyClass)}>
        <Header />
        <div class="max-w-[900px] px-4 mx-auto">
            <Alert type="error">
                <p class="font-bold mb-[0.1rem] text-lg">Disclaimer: WIP</p>
                Still work in progress :) Expect some bugs, errors, wrong data, ...
                :(
            </Alert>
            <Alert type="info">
                <div class="flex justify-between">
                    <div class="flex gap-2">
                        <p>Latest info from {latest_dump_date}</p>
                        <a
                            class="text-sm dark:text-secondary flex gap-1 items-center"
                            href="/about#data">
                            <span class="w-4 block">
                                <InfoIcon />
                            </span>
                            What does this mean?
                        </a>
                    </div>
                    <DBUpdating client:only="solid-js" />
                </div>
            </Alert>
        </div>

        <main class={mainClass}>
            <div class="sidebar py-4">
                <slot name="left-sidebar" />
            </div>
            <div class="p-4">
                <slot />
            </div>
            <div class="sidebar">
                <slot name="right-sidebar" />
            </div>
        </main>
        <!-- <main>
            <slot />
        </main> -->

        <Footer />
        <script src="../scripts/flowbite@2.5.1.min.js"></script>
    </body>
</html>
<style is:global>
    html {
        font-family: system-ui, sans-serif;
        background-size: 224px;
    }

    /* .sidebar {
        position: fixed
    } */

    main {
        font-size: 20px;
        line-height: 1.6;

        /* padding: 1rem; */
        /* width: 900px; */
        /* max-width: calc(100% - 2rem); */
        /* max-width: 100%; */
        /* margin: auto; */

        display: grid;
        grid-template-columns: 1fr min(100%, 900px) 1fr;
    }
</style>
