---
import {
    MaterialSymbolsCalendarClock,
    MaterialSymbolsScheduleOutline,
} from "../../ClientIcons/Icons";

import { redisClient, WIKI_TASKS_PREFIX } from "../../../db/redis";
import LocaleDate from "../../LocaleDate";

// let schedules: { name: string; crontab: string }[] = JSON.parse(
//     (await fs.readFile(path)).toString(),
// );

let lastUpdated: Record<string, Date> = Object.fromEntries(
    Object.entries(
        await redisClient.hGetAll(`${WIKI_TASKS_PREFIX}:last-updated`),
    ).map(([wiki_name, last_updated_utc_seconds]) => {
        const date = new Date(Number(last_updated_utc_seconds) * 1000);
        return [wiki_name, date];
    }),
);

export let DBSCHEDULE_FORMAT_OPTIONS: Intl.DateTimeFormatOptions = {
    year: "numeric",
    month: "2-digit",
    day: "2-digit",
    hour: "2-digit",
    minute: "2-digit",
    hour12: false,
    timeZoneName: "short",
    timeZone: "UTC", // by default show in UTC, client will convert to local time as long javascript is enabled
};

export let DBSCHEDULE_FORMATTER = new Intl.DateTimeFormat(
    undefined,
    DBSCHEDULE_FORMAT_OPTIONS,
);

// const serverTimezone = Intl.DateTimeFormat().resolvedOptions().timeZone;

// function parseCrontabDate(crontab: string) {
//     return parser
//         .parseExpression(crontab, { tz: serverTimezone })
//         .next()
//         .toDate();
// }
---

<div
    class="border rounded dark-layer-1 inline-block mb-5 w-full sm:w-auto sm:ml-auto">
    <div class="px-3 py-2 border-b dark:border-dark_04">
        <p class="text-xl flex items-center gap-2">
            Last Updated
            <span class="w-[1.15rem]">
                <MaterialSymbolsCalendarClock aria-label="Schedule" />
            </span>
        </p>
        <p class="text-secondary text-sm">
            <noscript>Dates are in UTC time</noscript>
            Dates are in your locale timezone <span id="client-tz"></span>
            <script type="module" is:inline>
                document.getElementById("client-tz").textContent =
                    `(${Intl.DateTimeFormat().resolvedOptions().timeZone})`;
            </script>
        </p>
    </div>

    {
        lastUpdated == null || Object.keys(lastUpdated).length === 0 ? (
            <div class="px-3 py-2 text-base text-secondary text-center">
                No data available
            </div>
        ) : null
    }

    {
        lastUpdated != null && Object.keys(lastUpdated).length > 0 && (
            <div class="px-3 py-2 text-base flex flex-col gap-2">
                {Object.entries(lastUpdated).map(
                    ([wiki_name, last_updated]) => (
                        <div class="flex gap-1 sm:gap-2 lg:gap-5 flex-wrap lg:flex-nowrap">
                            <p class="break-all">{wiki_name}</p>
                            <span class="flex items-center gap-1 text-sm text-secondary ml-auto">
                                <LocaleDate
                                    client:load
                                    date={last_updated}
                                    formatOption={DBSCHEDULE_FORMAT_OPTIONS}
                                />
                                <span class="block w-4">
                                    <MaterialSymbolsScheduleOutline aria-label="datetime" />
                                </span>
                            </span>
                        </div>
                    ),
                )}
            </div>
        )
    }
</div>
